* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "DINPro-Bold", "DINPro-Medium", sans-serif;
  src: url("/fonts/DINPro-Bold.otf");
  src: url("/fonts/DINPro-Medium.otf");
  overflow-x: hidden;
}

.navbar {
  height: 50px;
  margin-top: 45px;
  padding: 0 !important;
  background: white !important;
}

.navbar-nav {
  background-color: #54B9F1;
  height: 50px;
  text-transform: uppercase;
  border-radius: 30px 0 0 0;
  font-size: 16px;
  font-weight: bold;
  margin-right: -1px !important;
}
.navbar-nav > li {
  padding: 8px 15px 0 15px;
  border-right: white 1px solid;
}
.navbar-nav > li > a {
  color: white !important;
  align-items: center;
  height: 100%;
}

.blueBorder {
  height: 35px;
  width: 100vw;
  background-color: #8FC6E2;
}

.navbar-brand {
  margin-left: 5vw;
  margin-top: -3vh;
}

.launch-login-modal {
  background-color: #275670;
}

@media screen and (max-width: 1650px) {
  .navbar {
    height: 105px;
  }

  .navbar-nav {
    height: 105px;
  }
  .navbar-nav > li {
    border: none;
    border-top: white solid 1px;
  }
}
@media screen and (max-width: 1200px) {
  .navbar-nav {
    background: none;
    height: 100vh !important;
    width: 220px !important;
    float: right;
    border-radius: 0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 33px;
    z-index: 999;
  }
  .navbar-nav > li {
    background-color: #54B9F1;
    padding: 0px 15px 0 15px;
    border: 1px solid #707070;
  }
  .navbar-nav > li > a {
    color: white !important;
    align-items: center;
    height: 100%;
  }
}
@media screen and (max-width: 500px) {
  .navbar {
    height: 30px;
  }
  .navbar-brand, .navbar-toggler {
    margin-top: -3.5vh;
  }
  .navbar-nav {
    margin-top: 4px;
  }

  .navbar-brand > img {
    max-width: 200px;
  }
}
@media screen and (max-width: 300px) {
  .navbar-brand > img {
    max-width: 130px;
  }
}
.navbar-light .navbar-toggler {
  border: none;
}
.navbar-light .navbar-toggler:focus {
  outline: none;
}

footer {
  background-color: #F3F3F3;
  font-family: "DINPro-Medium", sans-serif;
  font-weight: 500;
}

.contact__titel {
  margin: 20px 0 25px;
  font-weight: 600;
}

.contact {
  margin: 15px 0 25px 0;
}

p {
  margin-bottom: 0 !important;
}

.refs {
  margin: auto 0;
  text-align: center;
}
.refs__buttons {
  background-color: #275670 !important;
  padding: 11px 35px !important;
  text-transform: uppercase;
  color: white !important;
  border-radius: 21px !important;
  font-weight: bold;
  font-size: 18px;
  float: right;
}

.refs__contact-button {
  margin-left: 17%;
}

@media screen and (max-width: 992px) {
  .refs__buttons {
    float: none;
    display: block;
  }

  .refs__contact-button {
    margin: 0 auto 0 auto;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .contact {
    width: 50% !important;
  }

  .refs__buttons {
    width: 45%;
    display: inline-block;
  }

  .refs__contact-button {
    margin-right: 9%;
  }
}
@media screen and (max-width: 556px) {
  .contact {
    width: 100% !important;
    text-align: center;
  }

  .refs__buttons {
    width: 80%;
    display: inline-block;
  }

  .refs__contact-button {
    margin-right: 0%;
    margin-bottom: 25px;
  }

  .refs {
    margin-bottom: 20px;
  }

  .contact__titel {
    margin-bottom: 15px;
  }

  .contact__last {
    margin-top: 0;
  }
  .contact__last > .contact__titel {
    margin-top: 0;
  }
}
#homeHeader {
  width: 100vw;
}

ul.tabs_login {
  padding: 0;
  margin: 20px 0 0 0;
  position: relative;
  list-style: none;
  font-size: 14px;
  z-index: 1000;
  float: left;
}

ul.tabs_login li {
  border: 1px solid #E7E9F6;
  -webkit-border-top-right-radius: 10px;
  -khtml-border-radius-topright: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -khtml-border-radius-topleft: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
  line-height: 28px;
  /* = */
  height: 28px;
  padding: 0;
  margin: 0 5px 0 0;
  position: relative;
  background: #fff;
  overflow: hidden;
  float: left;
}

ul.tabs_login li a {
  text-decoration: none;
  padding: 0 10px;
  display: block;
  outline: none;
}

html ul.tabs_login li.active_login {
  border-left: 1px solid #E7E9F6;
  border-bottom: 1px solid #fff;
  -webkit-border-top-right-radius: 10px;
  -khtml-border-radius-topright: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -khtml-border-radius-topleft: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
  background: #fff;
  color: #333;
}

html body ul.tabs_login li.active_login a {
  font-weight: bold;
}

.tab_container_login {
  background: #fff;
  position: relative;
  margin: 0 0 20px 0;
  border: 1px solid #E7E9F6;
  -webkit-border-bottom-left-radius: 10px;
  -khtml-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -khtml-border-radius-bottomright: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -khtml-border-radius-topright: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
  z-index: 999;
  float: left;
  width: 100%;
  top: -1px;
}

.tab_content_login {
  padding: 7px 15px 15px 15px;
  padding-top: 10px;
}

.tab_content_login ul {
  padding: 0;
  margin: 0 0 0 15px;
}

.tab_content_login li {
  margin: 5px 0;
}

#login-register-password h3 {
  border: 0 none;
  margin: 10px 0;
  padding: 0;
}

#login-register-password p {
  margin: 0 0 15px 0;
  padding: 0;
}

/* form elements */
.username, .password, .login_fields {
  margin: 7px 0 0 0;
  overflow: hidden;
  width: 100%;
}

.username label, .password label {
  float: left;
  clear: none;
  width: 25%;
}

.username input, .password input {
  font: 12px/1.5 "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  float: left;
  clear: none;
  width: 200px;
  padding: 2px 3px;
  color: #777;
}

.rememberme {
  overflow: hidden;
  width: 100%;
  margin-bottom: 7px;
}

#rememberme {
  float: left;
  clear: none;
  margin: 4px 4px -4px 0;
}

.user-submit {
  padding: 5px 10px;
  margin: 5px 0;
}

.userinfo {
  float: left;
  clear: none;
  width: 75%;
  margin-bottom: 10px;
}

.userinfo p {
  margin-left: 10px;
}

.usericon {
  float: left;
  clear: none;
  width: 15%;
  margin: 0 0 10px 22px;
}

.usericon img {
  border: 1px solid #F4950E;
  padding: 1px;
}

/*# sourceMappingURL=themeStyle.css.map */
