.navigatie__na-login--disable {
    display: none;
}
.na-inlog__navbar {
    display: grid;
    grid-template-columns: 1fr .5fr .25fr;
    height: 95px;
}
.na-inlog__image {
    grid-row: 1/3;
    grid-column: 1/2;
    margin-top: 11px;
    margin-left: 5vw;
}
.nav__sectorgroep {
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}
.nav__uitlog-container {
    display: grid;
    grid-template-rows: .9fr 1fr;
    & > i {
        display: none;
    }
    & > .uitlog-knop__knop {
        font-size: 14px !important;
        height: 40px;
        width: 50%;
        display: block;
        margin: 0 auto;
        background-color: #275670 !important;
        padding: 10px 20px !important;
       
    }
}
.nav__search-icon {
    border: 2px solid #255772 !important;
    border-radius: 0 50px 50px 0 !important;
    border-left: none !important;
    height: 38px;
}
.input-group {
    grid-column: 1/2;
    grid-row: 1/3;
    margin-top: 30px;
   & > .form-control {
        border: 2px solid #255772 ;
        border-radius: 50px 0 0 50px;
        border-right: none;
        &:focus {
            border-color: #255772;
            box-shadow: 0;
        }
    } 
} 
.form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

// Page left side
.na-inlog__container {
    display: flex;
    flex-direction: row;
}
.na-inlog__blue-nav {
    display: flex;
    flex-direction: column;
    flex: 1 1 25%;
    border: 1px solid #707070;
    border-left: none;
}
.blue-nav__upload-div {
    background-color: #275670;
    height: 18.8vh;
}
.upload-div__upload-button {
    background-color: #5BB6E8;
    width: 70%;
    padding: 10px 35px 10px 10px;
    border-radius: 25px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}
.upload-button__icon {
    display: inline-block;
    width: 40px;
    padding-bottom: 10px;
}
.upload-button__icon-mobile {
    display: none;
}
.upload-button__text {
    display: inline-block;
    color: white;
    font-size: 24px;
    font-weight: 700;
    margin-left: 30px;
    font-family: 'DINPro-Bold', 'DINPro-Medium', sans-serif;
}
.blue-nav__item-div {
    background-color: #8EC7E0;
    padding: 27px;
    cursor: pointer;
    & > img {
        display: inline-block;
        width: 40px;
    }
    & > p {
        display: inline-block;
        color: white;
        font-size: 20px;
        font-weight: 700;
        margin-left: 30px;
        font-family: 'DINPro-Bold', 'DINPro-Medium', sans-serif;

    }
}
.blue-nav__item-div--active {
    background-color: #5BB6E8;
}

// Page right side
.na-inlog__right-container {
    flex: 2 2 75%;
    border: 1px solid #707070;
    border-right: none;
    border-left: none;
}

// AJAX documenten page 
.page-part__documenten-module {
    color: #275670;
    font-family: 'DINPro-Bold', 'DINPro-Medium', sans-serif;
    & > div {
        border-bottom: 1px solid #707070;
    }
}
.documenten-module__title {
    font-size: 30px;
    font-weight: bold;
    padding: 30px;
    padding-left: 40px;
}
.documenten-module__documenten-header {
    padding: 15px;
    padding-left: 40px;
    background-color: #F3F3F3;
    & > p {
        display: inline-block;
        padding-left: 20px;
    }
}
.documenten-header-text {
    font-size: 20px;
    font-weight: bold;
}
.documenten-module__documenten-map {
    padding: 10px;
    padding-left: 40px;
    & > img {
        padding-left: 20px;
        width: 50px;
    }
    & > p {
        padding-left: 20px;
        display: inline-block;
        font-size: 18px;
    }
}

@media screen and (max-width: 1500px) {
    .na-inlog__blue-nav {
        flex: 1 1 33%;
    }
    .na-inlog__right-container {
        flex: 2 2 66%;
    }
    .nav__uitlog-container {
        & > .uitlog-knop__knop {
            width: 30%;    
        }
    }
    .upload-button__text {

        font-size: 20px;
   
    }
    .blue-nav__item-div {
       
        padding: 32px;
        padding-left: 28px;
        & > img {
            width: 30px;
        }
        & > p {
            font-size: 18px;
        }
    }
}

@media screen and (max-width: 1090px) {
    .page-part__documenten-module {
        margin-bottom: 227px;
    }
    .na-inlog__container {
        display: flex;
        flex-direction: column;
    }
    .na-inlog__blue-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex: 1 1 95px;
        width: 100vw;
    }
    .upload-div__upload-button {
        display: none;
    }
    .upload-button__icon-mobile {
        display: block;
    }
    .blue-nav__upload-div {
        flex: 1 1 25%;
        height: 95px !important; 
        & > img {
            margin: 0 auto;
            margin-top: 30px;

        }
    }
    .blue-nav__item-div {
        flex: 1 1 15%;
        height: 95px;
        text-align: center;
        & > p {
            display: none;
        }
    }
}
@media screen and (max-width: 750px) { 
    .nav__uitlog-container {
        display: grid;
        grid-template-rows: 1fr;
        & > i {
            display: block;
            font-size: 40px;
            position: absolute;
            top: 30px;
            right: 30px;
        }
        & > p {
            display: none;
        }
        & > .uitlog-knop__knop {
            display: none;
        }
    }
    .nav__form {
        display: none;
    }
}

@media screen and (max-width: 570px) { 
    .nav__uitlog-container {
        display: grid;
        grid-template-rows: 1fr;
        & > i {
            display: block;
            font-size: 40px;
            position: absolute;
            top: 30px;
            right: 30px;
        }
        & > p {
            display: none;
        }
        & > .uitlog-knop__knop {
            display: none;
        }
    }
    .nav__form {
        display: none;
    }
    .blue-nav__upload-div {
        height: 65px !important; 
        & > img {
            margin: 0 auto;
            margin-top: 13px;
        }
    }
    .na-inlog__blue-nav {
        flex: 1 1 65px;
    }
    .blue-nav__item-div {
        padding: 15px;
        padding-left: 15px;
        height: 65px;
        & > img {
            width: 20px;
        }
        & > p {
            font-size: 18px;
        }
    }
    .na-inlog__image {
        & > img {
            margin-top: 1vw;
            width: 60vw;

        }
    }
}
@media screen and (max-width: 470px) { 
    .na-inlog__image {
        & > img {
            margin-top: 3vw;
        }
    }
    .documenten-module__title {
        padding: 20px;
        padding-left: 10px;
        font-size: 18px;
    }
    .documenten-module__documenten-map {
        padding-left: 10px;
        & > p {
            font-size: 14px;
        }
    }
    .documenten-module__documenten-header {
        padding-left: 10px;
    }
    .documenten-header-text {
        font-size: 16px;
        font-weight: bold;
    }
}
@media screen and (max-width: 370px) { 
    .na-inlog__image {
        & > img {
            width: 70vw;
        }
    }
}
@media screen and (max-width: 320px) { 
    .blue-nav__item-div {
        padding: 10px;
        padding-left: 10px;
        height: 55px;
    }
    .blue-nav__upload-div {
        height: 55px !important; 
        & > img {
            width: 25px;
            margin: 0 auto;
            margin-top: 13px;
        }
    }
    .na-inlog__blue-nav {
        flex: 1 1 55px;
    }
}
@media screen and (max-width: 290px) { 
    .na-inlog__image {
        & > img {
            margin-top: 7.5vw;
            width: 70vw;
        }
    }
}