footer{
    background-color: $lightGray;
    font-family: 'DINPro-Medium', sans-serif;
    font-weight: 500;
}
.contact__titel {
    margin: 20px 0 25px;
    font-weight: 600;
}
.contact {
    margin: 15px 0 25px 0;
}
p {
    margin-bottom: 0!important;
}
.refs{
    margin: auto 0;
    text-align: center;
    &__buttons{
        background-color: $darkBlue!important;
        padding: 11px 35px!important;
        text-transform: uppercase;
        color: white!important;
        border-radius: 21px!important;
        font-weight: bold;
        font-size: 18px;
        float: right;
    }
   
}
.refs__contact-button {
        margin-left: 17%;
    }

@media screen and (max-width: 992px) { 
    .refs__buttons {
        float: none;
        display: block;
        
    }
    .refs__contact-button {
        
        margin: 0 auto 0 auto;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 767px) {  
    .contact {
        width: 50% !important;
    }
    .refs__buttons {
     width: 45%;
     display: inline-block;
    }
    .refs__contact-button {
        margin-right: 9%;
    }
}
@media screen and (max-width: 556px) {  
    .contact {
        width: 100% !important;
        text-align: center;
    }
    .refs__buttons {
     width: 80%;
     display: inline-block;
    }
    .refs__contact-button {
        margin-right: 0%;
        margin-bottom: 25px;
    }
    .refs {
        margin-bottom: 20px;
    }
    .contact__titel {
        margin-bottom: 15px;
    }
    .contact__last {
        margin-top: 0;
        & > .contact__titel {
            margin-top: 0;
        }
    }
}