.homeHeader{
    width: 100vw;
}

.actueel-post{
    margin-top: 3vh;
    margin-bottom: 3vh;
    & > h3{
        font-weight: bold;
        & > a{
            color: $darkBlue;
        }
    } & a{
        color: $lightBlue;
        font-weight: 600;
        font-size: 20px;
    }
}