.modal-content{
	border-radius: 60px!important;
}

.modal-header {
	border: none!important;
	& .close{
		padding: 5.015px 8.53px!important;
		background-color: $grayBlue;
		border-radius: 50%;
		opacity: 1!important;
		margin-right: 20px!important;
		margin-top: -3px!important;
	} & > h5{
		margin-left: 10px;
		font-weight: bold;
		font-size: 20px;
		color: $darkBlue;
	}
}

.username > label, .password > label{
	text-transform: uppercase;
	margin-left: 24px;
	font-weight: bold;
}

.password{
	margin-top: 3.5%;
	& > input{
		margin-left: 15%;
		border-radius: 50px;
		border: $darkGray 1px solid;
		padding: 1%;
	}
}	

.username > input{
	margin-left: 10%;
	border-radius: 50px;
	border: $darkGray 1px solid;
	padding: 1%;
}

.login_fields{
	display: grid;
	grid-template-columns: auto 1fr;
	font-weight: bold;
	margin-top: 2%;
	& #tabs_login3{
		list-style: none;
		margin-left: 27.5%;
		& > a{
			color: $darkBlue!important;
		}
	} & .rememberme{
		margin-left: 24px;
		color: $darkBlue!important;
	}
}

.user-submit{
	background-color: $darkBlue!important;
    padding: 10px 35px!important;
    text-transform: uppercase;
    color: white!important;
    border-radius: 21px!important;
    font-weight: bold;
	font-size: 18px;
	border: none;
	float: right;
	margin-right: 18%;
	margin-bottom: 3%;
}

.vergetenwachtwoord .login_fields{
	grid-template-columns: 1fr;
}

.vergetenwachtwoord .user-submit{
	width: 180px;
	margin-left: 47%;
}

#tab3_login{
	& > h5{
		margin-left: 25px;
		font-weight: bold;
		font-size: 20px;
		color: $darkBlue;
		text-transform: uppercase;
		padding-bottom: 2%;
	}
}

.active_login{
	list-style: none;
	margin-left: 24px;
	font-weight: bold;
	margin-bottom: 2%;
	& > a{
		color: $darkBlue;
	}
}

@media screen and (max-width: 576px) {
	.vergetenwachtwoord .user-submit{
		margin-left: 24px;
	}

	.user-submit{
		margin-right: 23%;
	}
}

@media screen and (max-width: 426px) {
	.login_fields{
		grid-template-columns: 1fr;
		& #tabs_login3{
			margin-left: 24px!important;
		}
	}

	.user-submit{
		float: left;
		margin-right: 0;
		margin-left: 24px;
		margin-top: 2%;
	}

	.password > input, .username > input{
		margin-left: 24px;
	}
}