.navbar{
    height: 50px;
    margin-top: 45px;
    padding: 0!important;
    background: white!important;
}

.navbar-nav{
    background-color: $lightBlue;
    height: 50px;
    text-transform: uppercase;
    border-radius: 30px 0 0 0;
    font-size: 16px;
    font-weight: bold;
    & > li{
        padding: 8px 15px 0 15px;
        border-right: white 1px solid;
        & > a{
            color: white!important;
            align-items: center;
            height: 100%;
        }
    }
}

.blueBorder{
    height: 35px;
    width: 100vw;
    background-color: $grayBlue;
}

.navbar-brand{
    margin-left: 5vw;
    margin-top: 1vh;
}

.login{
    background-color: $darkBlue;
}

@media screen and (max-width: 1650px) {
    .navbar{
        height: 105px;
    }

    .navbar-nav{
        height: 105px;
        & > li{
            border: none;
            border-top: white solid 1px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .navbar-nav{
        
        & > li{
            display: block;
            float: right;
        }
    }
}

.navbar-light .navbar-toggler{
    border: none;
    &:focus{
        outline: none;
    }
}