.navbar{
    height: 90px;
    margin-top: 45px;
    padding: 0!important;
}

.navbar-nav{
    background-color: $lightBlue;
    height: 90px;
    text-transform: uppercase;
    border-radius: 30px 0 0 0;
    font-size: 20px;
    font-weight: bold;
    & > li{
        padding: 23px 15px 0 15px;
        border-right: white 1px solid;
        & > a{
            color: white;
            align-items: center;
            height: 100%;
        }
    }
}

.blueBorder{
    height: 35px;
    width: 100vw;
    background-color: $grayBlue;
}

.navbar-brand{
    margin-left: 5vw;
}